table {
    width: 60vw;
    max-width: 1200px;
    top: 0;
    border-color: rgb(223, 25, 91);
    border-collapse: collapse;
    counter-reset: table;
    animation: rotate 5s linear ;
}

caption {
    border-collapse: collapse;
    border: 1px solid rgb(223, 25, 91);
    border-bottom: unset;
    font-size: 20px;
    font-weight: bold;
    padding: 40px;
}

tbody tr:before {
    font-weight: 700;
    font-size: 17px;
    margin: 0;
    display: inline-block;
    counter-increment: table;
    content: "" counter(table) ".";
}

tbody tr th:after {
    content: ":"
}

tfoot {
    text-align: center;
}

select {
    width: 127px;
    text-align-last: center;
}

select:focus {
    background-color: greenyellow;
    transition: 0.5s;
}

select:hover {
    width: 100%;
    background-color: greenyellow;
    transition: 0.5s;
}

tfoot tr:nth-child(4n+1) th:first-child {
    font-weight: 900;
    font-style:normal;
}

tfoot tr:nth-child(4n+1) th:nth-child(n+2) {
    font-weight: 700;
    font-style: italic;
}

tfoot tr:nth-child(n+2) {
    font-weight: 500;
    font-style: italic;
}

input {
    border: none;
    height: 13px;
}

input:focus {
    background-color: greenyellow;
    transition: 0.5s;
}

.container {
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipses div {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-img {
    height: 86px;
    min-width: 100%;
    display: flex;
    cursor: pointer;
    background-image: url('../img/Lendrush.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.td_img {
    padding: 0px 0px 0px 0px;
}

.th_mobile_phone, .th_skaype {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: right;
    padding-right: 20px;
}

.input_image {
    display: none;
}

@media (max-width: 1200px) {
    th {
        font-size: 17px;
    }
    input {
        height: 20px;
        font-size: 17px;
    }
    select {
        width: 115px;
        font-size: 12px;
    }
    caption {
        padding: 0 10px;
    }
    th {
        white-space: nowrap;
    }
    .user-img {
        height: 96px;
        min-width: 100%;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg) scale(2) translateX(150px);
    }
    to { 
        transform: rotate(360deg) scale(1) translateX(0px);
    }
}