table {
    width: 800px;
    height: 400px;
    max-width: 1200px;
    top: 0;
    opacity: 0.9;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    counter-reset: table;
    background-color: moccasin;
    animation: rotate 5s linear;
}

caption {
    position: relative;
    padding: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: unset;
    font-size: 20px;
    font-weight: bold;
    background-color: moccasin;
    clip-path: polygon(0px 0px,-5px 0,-3px 0,0px 31px,10px 28px,
    15px 26px,17px 25px,10px 17px,10px -13px,30px 4px,
    30px 16px,26px 20px,22px 24px,35px 27px,33px 32px,42px 24px,
    44px 24px,38px 32px,29px 43px,35px 41px,27px 41px,21px 36px,
    22px 33px,26px 34px,30px 36px,33px 32px,31px 30px,29px 33px,
    38px 28px,19px 34px,19px 53px,23px 44px,41px 40px,-11px 37px,
    -5px 613px,817px 607px,811px -10px,-24px -10px,-13px 25px);
}

caption::before {
    content:"";
    position: absolute;
    top: 0px;
    right: 0px;
    border-style: solid;
    border-width: 0 70px 70px 0;
    border-color: #ddd blue;
    animation-name: fold;
    animation-delay: 9.3s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

body {
    background-color: blue;
    overflow: hidden;
}

tbody th {
    text-align: left;
    padding-left: 10px;
}

tbody tr:before {
    width: 20px;
    font-weight: 700;
    font-size: 19px;
    margin: 0;
    padding-left: 15px;
    display: inline-block;
    counter-increment: table;
    content: "" counter(table) ".";
}

tbody tr th:after {
    content: ":"
}

tbody select {
    height: 19px;
    text-align: left;
    padding-left: 6px;
    border-radius: 5px;
}

tfoot {
    text-align: center;
}

tfoot th {
    color: rgb(209, 10, 103);
}

tfoot tr:nth-child(4n+1) th:first-child {
    font-weight: 900;
    font-style:normal;
}

tfoot tr:nth-child(4n+1) th:nth-child(n+2) {
    font-weight: 700;
    font-style: italic;
}

tfoot tr:nth-child(n+2) {
    font-weight: 500;
    font-style: italic;
}

tfoot select {
    width: 127px;
    text-align-last: center;
    border-radius: 5px;
}

input {
    border: none;
    height: 19px;
    padding-left: 10px;
    border-radius: 5px;
}

/* input:focus {
    background-color: greenyellow;
    transition: 0.5s;
}

select:focus {
    background-color: greenyellow;
    transition: 0.5s;
}

select:hover {
    width: 100%;
    background-color: greenyellow;
    transition: 0.5s;
} */

.container {
    position: relative;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipses div {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-img {
    height: 86px;
    min-width: 100%;
    display: flex;
    cursor: pointer;
    background-image: url('../img/Lendrush.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.td_img {
    padding: 0px 0px 0px 0px;
}

.th_mobile_phone, .th_skaype {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: right;
    padding-right: 20px;
}

.input_image {
    display: none;
}

.wave {
    position: absolute;
    z-index: -2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 960px;
    height: 960px;
    border: black 10px solid;
    border-radius: 100%;
    animation-name: ripple;
    animation-delay: 3.8s;
    animation-duration: 6s;
}

.wave:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 960px;
    height: 960px;
    border: black 10px solid;
    border-radius: 100%;
    animation-name: ripple_1;
    animation-delay: 4.4s;
    animation-duration: 6s;
}

.wave:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 960px;
    height: 960px;
    border: black 10px solid;
    border-radius: 100%;
    animation-name: ripple_2;
    animation-delay: 5.1s;
    animation-duration: 6s;
}

.get_wet {
    position: absolute;
    z-index: -1;
    width: 10px;
    height: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: yellow;
    animation-name: wet;
    animation-delay: 4.9s;
    animation-duration: 6.39s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(2);
    }

    75% {
        transform: rotate(370deg) scale(1);
    }

    100% { 
        transform: rotate(360deg) scale(1);
    }
}

@keyframes ripple {
    from {
        opacity: 0.5;
    }

    to {
      width: 1900px;
      height: 1900px;
      opacity: 0.1;
    }
}

@keyframes ripple_1 {
    from {
        opacity: 1;
    }

    to {
      width: 1900px;
      height: 1900px;
      opacity: 0.1;
    }
}

@keyframes ripple_2 {
    from {
        opacity: 1;
    }

    to {
      width: 1900px;
      height: 1900px;
      opacity: 0.1;
    }
}

@keyframes fold {
    from {
        border-width: 0 70px 70px 0;
    }

    to {
        border-width: 0 0 0 0;
    }
}

@keyframes wet {
    0% {
        opacity: 1;
        border-radius: 100%;
        clip-path: none;
    }

    100% {
        clip-path: polygon(0px 0px,-5px 0,-3px 0,0px 31px,10px 28px,
        15px 26px,17px 25px,10px 17px,10px -13px,30px 4px,
        30px 16px,26px 20px,22px 24px,35px 27px,33px 32px,42px 24px,
        44px 24px,38px 32px,29px 43px,35px 41px,27px 41px,21px 36px,
        22px 33px,26px 34px,30px 36px,33px 32px,31px 30px,29px 33px,
        38px 28px,19px 34px,19px 53px,23px 44px,41px 40px,-11px 37px,
        -5px 613px,817px 607px,811px -10px,-24px -10px,-13px 25px);
        width: 800px;
        height: 503px;
        opacity: 1;
        border-radius: 5px;
    }
}

@media (max-width: 1300px) {
    tbody select {
        width: 130px;
        height: 19px;
        text-align: left;
        padding-left: 6px;
        border-radius: 5px;
    }

    @keyframes wet {
        from {
            opacity: 1;
            border-radius: 100%;
        }

        to {
            width: 800px;
            height: 503px;
            opacity: 1;
            border-radius: 5px;
        }
    }

    .wave {
        position: absolute;
        z-index: -2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple;
        animation-delay: 3.8s;
        animation-duration: 6s;
    }
    
    .wave:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple_1;
        animation-delay: 4.4s;
        animation-duration: 6s;
    }
    
    .wave:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple_2;
        animation-delay: 5.1s;
        animation-duration: 6s;
    }
}

@media (max-width: 1200px) {
    th {
        font-size: 17px;
    }

    input {
        height: 20px;
        font-size: 17px;
    }

    select {
        width: 115px;
        font-size: 12px;
    }
    
    th {
        white-space: nowrap;
    }

    tbody tr:before {
        width: 24px;
    }

    .user-img {
        height: 96px;
        min-width: 100%;
    }
}

@media (max-width: 1100px) {
    body {
        animation: rotate 5s linear;
        overflow-y: scroll;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg) scale(2);
            overflow: hidden;
        }

        75% {
            transform: rotate(370deg) scale(1);
        }

        100% { 
            transform: rotate(360deg) scale(1);
            overflow: hidden;
        }
    }

    tbody select {
        width: 120px;
        height: 19px;
        text-align: left;
        padding-left: 6px;
        border-radius: 5px;
    }

    @keyframes wet {
        from {
            opacity: 1;
            border-radius: 100%;
        }
        to {
            width: 800px;
            height: 503px;
            opacity: 1;
            border-radius: 5px;
        }
    }

    .wave {
        position: absolute;
        z-index: -2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple;
        animation-delay: 3.8s;
        animation-duration: 6s;
    }
    
    .wave:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple_1;
        animation-delay: 4.4s;
        animation-duration: 6s;
    }
    
    .wave:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple_2;
        animation-delay: 5.1s;
        animation-duration: 6s;
    }
}

@media (max-width: 1000px) {
    body {
        animation: rotate 5s linear;
        overflow-y: scroll;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg) scale(2);
            overflow: hidden;
        }

        75% {
            transform: rotate(370deg) scale(1);
        }

        100% { 
            transform: rotate(360deg) scale(1);
            overflow: hidden;
        }
    }

    @keyframes wet {
        from {
            opacity: 1;
            border-radius: 100%;
        }

        to {
            width: 800px;
            height: 503px;
            opacity: 1;
            border-radius: 5px;
        }
    }

    .wave {
        position: absolute;
        z-index: -2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple;
        animation-delay: 3.8s;
        animation-duration: 6s;
    }
    
    .wave:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple_1;
        animation-delay: 4.4s;
        animation-duration: 6s;
    }
    
    .wave:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple_2;
        animation-delay: 5.1s;
        animation-duration: 6s;
    }
}

@media (max-width: 800px) {
    body {
        animation: rotate 5s linear;
        overflow-y: scroll;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg) scale(2);
            overflow: hidden;
        }

        75% {
            transform: rotate(370deg) scale(1);
        }

        100% { 
            transform: rotate(360deg) scale(1);
            overflow: hidden;
        }
    }

    @keyframes wet {
        from {
            opacity: 1;
            border-radius: 100%;
        }
        
        to {
            width: 743px;
            height: 503px;
            opacity: 1;
            border-radius: 5px;
        }
    }

    .wave {
        position: absolute;
        z-index: -2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple;
        animation-delay: 3.8s;
        animation-duration: 6s;
    }
    
    .wave:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple_1;
        animation-delay: 4.4s;
        animation-duration: 6s;
    }
    
    .wave:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        width: 960px;
        height: 960px;
        border: black 10px solid;
        border-radius: 100%;
        animation-name: ripple_2;
        animation-delay: 5.1s;
        animation-duration: 6s;
    }
}