table {
    width: 60vw;
    max-width: 1200px;
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    counter-reset: table;
    background-color: burlywood;
    animation: rotate 5s linear ;
}

caption {
    padding: 40px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: unset;
    font-size: 20px;
    font-weight: bold;
    background-color: burlywood;
}

body {
    background-color: blue;
    overflow: hidden;
}

tbody th {
    text-align: left;
    padding-left: 10px;
}

tbody tr:before {
    width: 20px;
    font-weight: 700;
    font-size: 19px;
    margin: 0;
    padding-left: 15px;
    display: inline-block;
    counter-increment: table;
    content: "" counter(table) ".";
}

tbody tr th:after {
    content: ":"
}

tbody select {
    height: 19px;
    text-align: left;
    padding-left: 6px;
    border-radius: 5px;
}

tfoot {
    text-align: center;
}

tfoot th {
    color: rgb(209, 10, 103);
}

tfoot tr:nth-child(4n+1) th:first-child {
    font-weight: 900;
    font-style:normal;
}

tfoot tr:nth-child(4n+1) th:nth-child(n+2) {
    font-weight: 700;
    font-style: italic;
}

tfoot tr:nth-child(n+2) {
    font-weight: 500;
    font-style: italic;
}

tfoot select {
    width: 127px;
    text-align-last: center;
    border-radius: 5px;
}

input {
    border: none;
    height: 19px;
    padding-left: 10px;
    border-radius: 5px;
}

/* input:focus {
    background-color: greenyellow;
    transition: 0.5s;
}

select:focus {
    background-color: greenyellow;
    transition: 0.5s;
}

select:hover {
    width: 100%;
    background-color: greenyellow;
    transition: 0.5s;
} */

.container {
    position: relative;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ellipses div {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user-img {
    height: 86px;
    min-width: 100%;
    display: flex;
    cursor: pointer;
    background-image: url('../img/Lendrush.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.td_img {
    padding: 0px 0px 0px 0px;
}

.th_mobile_phone, .th_skaype {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: right;
    padding-right: 20px;
}

.input_image {
    display: none;
}

.wave {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 940px;
    height: 940px;
    border: black 10px solid;
    border-radius: 100%;
    animation-name: ripple;
    animation-delay: 3.8s;
    animation-duration: 8s;
}

.wave:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 940px;
    height: 940px;
    border: black 10px solid;
    border-radius: 100%;
    animation-name: ripple_1;
    animation-delay: 4.6s;
    animation-duration: 8s;
}

.wave:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    width: 940px;
    height: 940px;
    border: black 10px solid;
    border-radius: 100%;
    animation-name: ripple_2;
    animation-delay: 5.6s;
    animation-duration: 8s;
}

@media (max-width: 1200px) {
    th {
        font-size: 17px;
    }
    input {
        height: 20px;
        font-size: 17px;
    }
    select {
        width: 115px;
        font-size: 12px;
    }
    caption {
        padding: 0 10px;
    }
    th {
        white-space: nowrap;
    }
    tbody tr:before {
        width: 24px;
    }
    .user-img {
        height: 96px;
        min-width: 100%;
    }
}

@media (max-width: 800px) {
    body {
        overflow: scroll;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(2);
    }
    75% {
        transform: rotate(370deg) scale(1);
    }
    100% { 
        transform: rotate(360deg) scale(1);
    }
}

@keyframes ripple {
    from {
        opacity: 0.5;
    }
    to {
      width: 1700px;
      height: 1700px;
      opacity: 0.1;
    }
}

@keyframes ripple_1 {
    from {
        opacity: 1;
    }
    to {
      width: 1700px;
      height: 1700px;
      opacity: 0.1;
    }
}

@keyframes ripple_2 {
    from {
        opacity: 1;
    }
    to {
      width: 1900px;
      height: 1900px;
      opacity: 0.1;
    }
}