table {
    width: 60vw;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-color: rgb(223, 25, 91);
    counter-reset: table;
}

caption {
    border: 1px solid rgb(223, 25, 91);
    font-size: 20px;
    font-weight: bold;
    padding: 40px;
}

tbody tr:before {
    width: 25px;
    border: 1px solid rgb(223, 25, 91);
    display: inline-block;
    counter-increment: table;
    content: "" counter(table) ".";
}

tfoot {
    text-align: center;
}

select {
    width: 105px;
    text-align-last: center;
}

tfoot tr:nth-child(4n+1) th:first-child {
    font-weight: 900;
    font-style:normal;
}

tfoot tr:nth-child(4n+1) th:nth-child(n+2) {
    font-weight: 700;
    font-style: italic;
}

tfoot tr:nth-child(n+2) {
    font-weight: 500;
    font-style: italic;
}

.container {
    position: relative;
    height: 100vh;
}

.td_img {
    background-image: url('../img/Lendrush.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.th_1, .th_2, .th_3, .th_4, .th_5, .th_6,
.th_7, .th_8, .th_9, .th_10, .th_11 {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: right;
    padding-right: 18px;
}

.th_mobile_phone,.th_skaype {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: right;
    padding-right: 20px;
}

.th_footer {
    font-weight: 900;
}

.th_footer_1, .th_footer_2, .th_footer_3, .th_footer_4 {
    font-weight: 900;
    font-style: italic;
}