body {
    border: 1px solid rgb(223, 25, 91);
    width: 70%;
    margin: 0 auto;
    margin-top: 45px;
}

table {
    border-color: rgb(223, 25, 91);
    width: 100%;
    margin-top: 50px;
    counter-reset: table;
}

caption {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

img {
    width: 100%;
    height: 88px;
}

tbody tr:before {
    border: 1px solid rgb(223, 25, 91);
    counter-increment: table;
    content: "" counter(table) ".";
    
}

select {
    width: 95px;
}

.one, .two, .tree, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: right;
    padding-right: 18px;
}

.twelve,.thirteen {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: right;
    padding-right: 20px;
}