body {
    border: 1px solid rgb(223, 25, 91);
    width: 70%;
    margin: 80px auto;
}

table {
    border-color: rgb(223, 25, 91);
    width: 100%;
    margin-top: 50px;
    counter-reset: table;
}

caption {
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}

tbody tr:before {
    border: 1px solid rgb(223, 25, 91);
    counter-increment: table;
    content: "" counter(table) ".";
    display: inline-block;
    width: 25px;
    
}

select {
    width: 95px;
}

.td_img {
    background-image: url('../img/Lendrush.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.th_1, .th_2, .th_3, .th_4, .th_5, .th_6,
.th_7, .th_8, .th_9, .th_10, .th_11 {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: right;
    padding-right: 18px;
}

.th_mobile_phone,.th_skaype {
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    text-align: right;
    padding-right: 20px;
}

.th_footer {
    font-size: 23px;
    font-weight: 900;
}

.th_footer_1, .th_footer_2, .th_footer_3, .th_footer_4 {
    font-weight: 700;
    font-size: 20px;
}

.select_good, .select_excellent,
.select_satisfactory, .select_good_4 {
    width: 120px;
    padding-left: 38px;
    margin-left: 27px;
}

.select_excellent_4, .select_good_4 {
    width: 120px;
    margin-left: 35px;
}

.select_excellent, .select_excellent_4 {
    padding-left: 28px;
}

.select_satisfactory {
    padding-left: 20px;
}